In [13]:
%matplotlib inline

In [14]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import math as math
import seaborn as sns
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
from surprise import Reader, Dataset, SVD, evaluate

import warnings; warnings.simplefilter('ignore')

In [15]:
# import the movie dataset all the movie metadata
md = pd.read_csv('the-movies-dataset/movies_metadata.csv')
md.head(10)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
6,False,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Fran√ßais'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0
7,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,1995-12-22,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0
8,False,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,1995-12-22,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0

In [16]:
md['genres'] = md['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list)
                                                                  else [])

In [32]:
#print(md['vote_count'].notnull())
#print(md[md['vote_count'].notnull()])
vote_counts = md[md['vote_count'].notnull()]['vote_count'].astype('int')
vote_averages = md[md['vote_average'].notnull()]['vote_average'].astype('int')
C = vote_averages.mean()
C

5.244896612406511

In [33]:
m = vote_counts.quantile(0.95)
m

434.0

In [35]:
md['year'] = pd.to_datetime(md['release_date'], errors = 'coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan
                                                                         else np.nan)

In [38]:
qualified = md[(md['vote_count'] >= m) & (md['vote_count'].notnull()) & (md['vote_count'].notnull())]\
              [['title', 'year', 'vote_count', 'vote_average', 'popularity', 'genres']]
qualified['vote_count'] = qualified['vote_count'].astype('int') # convert the data float to int
qualified['vote_average'] = qualified['vote_average'].astype('int') # convert the data from float to int
qualified.shape # check the shape of the dataframe

(2274, 6)

In [39]:
def weighted_rating(x):
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+m) * R) + (m/(m+v) * C)

In [41]:
qualified['wr'] = qualified.apply(weighted_rating, axis=1) # calculate weighted rating for each row

In [42]:
qualified = qualified.sort_values('wr', ascending=False).head(250)

In [43]:
qualified.head(15)

,title,year,vote_count,vote_average,popularity,genres,wr
15480,Inception,2010,14075,8,29.1081,"[Action, Thriller, Science Fiction, Mystery, A...",7.917588
12481,The Dark Knight,2008,12269,8,123.167,"[Drama, Action, Crime, Thriller]",7.905871
22879,Interstellar,2014,11187,8,32.2135,"[Adventure, Drama, Science Fiction]",7.897107
2843,Fight Club,1999,9678,8,63.8696,[Drama],7.881753
4863,The Lord of the Rings: The Fellowship of the Ring,2001,8892,8,32.0707,"[Adventure, Fantasy, Action]",7.871787
292,Pulp Fiction,1994,8670,8,140.95,"[Thriller, Crime]",7.868660
314,The Shawshank Redemption,1994,8358,8,51.6454,"[Drama, Crime]",7.864000
7000,The Lord of the Rings: The Return of the King,2003,8226,8,29.3244,"[Adventure, Fantasy, Action]",7.861927
351,Forrest Gump,1994,8147,8,48.3072,"[Comedy, Drama, Romance]",7.860656
5814,The Lord of the Rings: The Two Towers,2002,7641,8,29.4235,"[Adventure, Fantasy, Action]",7.851924
256,Star Wars,1977,6778,8,42.1497,"[Adventure, Action, Science Fiction]",7.834205
1225,Back to the Future,1985,6239,8,25.7785,"[Adventure, Comedy, Science Fiction, Family]",7.820813
834,The Godfather,1972,6024,8,41.1093,"[Drama, Crime]",7.814847
1154,The Empire Strikes Back,1980,5998,8,19.471,"[Adventure, Action, Science Fiction]",7.814099
46,Se7en,1995,5915,8,18.4574,"[Crime, Mystery, Thriller]",7.811669

In [48]:
s = md.apply(lambda x: pd.Series(x['genres']), axis = 1).stack().reset_index(level = 1, drop = True)
#print(s)
s.name = 'genre'
#print(s)
gen_md = md.drop('genres', axis = 1).join(s) # drop the original 'genres' column add the new series to the end column
#print(gen_md)

0              Animation
0                 Comedy
0                 Family
1              Adventure
1                Fantasy
1                 Family
2                Romance
2                 Comedy
3                 Comedy
3                  Drama
3                Romance
4                 Comedy
5                 Action
5                  Crime
5                  Drama
5               Thriller
6                 Comedy
6                Romance
7                 Action
7              Adventure
7                  Drama
7                 Family
8                 Action
8              Adventure
8               Thriller
9              Adventure
9                 Action
9               Thriller
10                Comedy
10                 Drama
              ...
45446             Comedy
45449          Animation
45449             Family
45450            Fantasy
45450             Action
45450           Thriller
45451             Comedy
45451            Fantasy
45452        Documentary
45453              Crime
45453              Drama
45453           Thriller
45454             Comedy
45454              Drama
45456             Horror
45456            Mystery
45456           Thriller
45457            Mystery
45457             Horror
45458             Horror
45459    Science Fiction
45460              Drama
45460             Action
45460            Romance
45461              Drama
45461             Family
45462              Drama
45463             Action
45463              Drama
45463           Thriller
Length: 91106, dtype: object
0              Animation
0                 Comedy
0                 Family
1              Adventure
1                Fantasy
1                 Family
2                Romance
2                 Comedy
3                 Comedy
3                  Drama
3                Romance
4                 Comedy
5                 Action
5                  Crime
5                  Drama
5               Thriller
6                 Comedy
6                Romance
7                 Action
7              Adventure
7                  Drama
7                 Family
8                 Action
8              Adventure
8               Thriller
9              Adventure
9                 Action
9               Thriller
10                Comedy
10                 Drama
              ...
45446             Comedy
45449          Animation
45449             Family
45450            Fantasy
45450             Action
45450           Thriller
45451             Comedy
45451            Fantasy
45452        Documentary
45453              Crime
45453              Drama
45453           Thriller
45454             Comedy
45454              Drama
45456             Horror
45456            Mystery
45456           Thriller
45457            Mystery
45457             Horror
45458             Horror
45459    Science Fiction
45460              Drama
45460             Action
45460            Romance
45461              Drama
45461             Family
45462              Drama
45463             Action
45463              Drama
45463           Thriller
Name: genre, Length: 91106, dtype: object
       adult                              belongs_to_collection    budget  \
0      False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
0      False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
0      False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1      False                                                NaN  65000000
1      False                                                NaN  65000000
1      False                                                NaN  65000000
2      False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
2      False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
3      False                                                NaN  16000000
3      False                                                NaN  16000000
3      False                                                NaN  16000000
4      False  {'id': 96871, 'name': 'Father of the Bride Col...         0
5      False                                                NaN  60000000
5      False                                                NaN  60000000
5      False                                                NaN  60000000
5      False                                                NaN  60000000
6      False                                                NaN  58000000
6      False                                                NaN  58000000
7      False                                                NaN         0
7      False                                                NaN         0
7      False                                                NaN         0
7      False                                                NaN         0
8      False                                                NaN  35000000
8      False                                                NaN  35000000
8      False                                                NaN  35000000
9      False  {'id': 645, 'name': 'James Bond Collection', '...  58000000
9      False  {'id': 645, 'name': 'James Bond Collection', '...  58000000
9      False  {'id': 645, 'name': 'James Bond Collection', '...  58000000
10     False                                                NaN  62000000
10     False                                                NaN  62000000
...      ...                                                ...       ...
45450  False                                                NaN         0
45450  False                                                NaN         0
45450  False                                                NaN         0
45451  False                                                NaN         0
45451  False                                                NaN         0
45452  False                                                NaN         0
45453  False                                                NaN         0
45453  False                                                NaN         0
45453  False                                                NaN         0
45454  False                                                NaN         0
45454  False                                                NaN         0
45455  False                                                NaN         0
45456  False                                                NaN         0
45456  False                                                NaN         0
45456  False                                                NaN         0
45457  False                                                NaN         0
45457  False                                                NaN         0
45458  False                                                NaN         0
45459  False                                                NaN         0
45460  False                                                NaN         0
45460  False                                                NaN         0
45460  False                                                NaN         0
45461  False                                                NaN         0
45461  False                                                NaN         0
45462  False                                                NaN         0
45463  False                                                NaN         0
45463  False                                                NaN         0
45463  False                                                NaN         0
45464  False                                                NaN         0
45465  False                                                NaN         0

                                           homepage      id    imdb_id  \
0              http://toystory.disney.com/toy-story     862  tt0114709
0              http://toystory.disney.com/toy-story     862  tt0114709
0              http://toystory.disney.com/toy-story     862  tt0114709
1                                               NaN    8844  tt0113497
1                                               NaN    8844  tt0113497
1                                               NaN    8844  tt0113497
2                                               NaN   15602  tt0113228
2                                               NaN   15602  tt0113228
3                                               NaN   31357  tt0114885
3                                               NaN   31357  tt0114885
3                                               NaN   31357  tt0114885
4                                               NaN   11862  tt0113041
5                                               NaN     949  tt0113277
5                                               NaN     949  tt0113277
5                                               NaN     949  tt0113277
5                                               NaN     949  tt0113277
6                                               NaN   11860  tt0114319
6                                               NaN   11860  tt0114319
7                                               NaN   45325  tt0112302
7                                               NaN   45325  tt0112302
7                                               NaN   45325  tt0112302
7                                               NaN   45325  tt0112302
8                                               NaN    9091  tt0114576
8                                               NaN    9091  tt0114576
8                                               NaN    9091  tt0114576
9      http://www.mgm.com/view/movie/757/Goldeneye/     710  tt0113189
9      http://www.mgm.com/view/movie/757/Goldeneye/     710  tt0113189
9      http://www.mgm.com/view/movie/757/Goldeneye/     710  tt0113189
10                                              NaN    9087  tt0112346
10                                              NaN    9087  tt0112346
...                                             ...     ...        ...
45450                                           NaN   49280  tt0135453
45450                                           NaN   49280  tt0135453
45450                                           NaN   49280  tt0135453
45451                                           NaN  106807  tt0135571
45451                                           NaN  106807  tt0135571
45452                                           NaN  276895  tt3054038
45453                                           NaN  404604  tt5690142
45453                                           NaN  404604  tt5690142
45453                                           NaN  404604  tt5690142
45454                                           NaN  420346  tt4130180
45454                                           NaN  420346  tt4130180
45455                                           NaN   67179  tt0069215
45456                                           NaN   84419  tt0038621
45456                                           NaN   84419  tt0038621
45456                                           NaN   84419  tt0038621
45457                                           NaN  390959  tt0265736
45457                                           NaN  390959  tt0265736
45458                                           NaN  289923  tt0252966
45459                                           NaN  222848  tt0112613
45460                                           NaN   30840  tt0102797
45460                                           NaN   30840  tt0102797
45460                                           NaN   30840  tt0102797
45461          http://www.imdb.com/title/tt6209470/  439050  tt6209470
45461          http://www.imdb.com/title/tt6209470/  439050  tt6209470
45462                                           NaN  111109  tt2028550
45463                                           NaN   67758  tt0303758
45463                                           NaN   67758  tt0303758
45463                                           NaN   67758  tt0303758
45464                                           NaN  227506  tt0008536
45465                                           NaN  461257  tt6980792

      original_language                  original_title  \
0                    en                       Toy Story
0                    en                       Toy Story
0                    en                       Toy Story
1                    en                         Jumanji
1                    en                         Jumanji
1                    en                         Jumanji
2                    en                Grumpier Old Men
2                    en                Grumpier Old Men
3                    en               Waiting to Exhale
3                    en               Waiting to Exhale
3                    en               Waiting to Exhale
4                    en     Father of the Bride Part II
5                    en                            Heat
5                    en                            Heat
5                    en                            Heat
5                    en                            Heat
6                    en                         Sabrina
6                    en                         Sabrina
7                    en                    Tom and Huck
7                    en                    Tom and Huck
7                    en                    Tom and Huck
7                    en                    Tom and Huck
8                    en                    Sudden Death
8                    en                    Sudden Death
8                    en                    Sudden Death
9                    en                       GoldenEye
9                    en                       GoldenEye
9                    en                       GoldenEye
10                   en          The American President
10                   en          The American President
...                 ...                             ...
45450                fr               L'Homme orchestre
45450                fr               L'Homme orchestre
45450                fr               L'Homme orchestre
45451                fr  Nouvelles luttes extravagantes
45451                fr  Nouvelles luttes extravagantes
45452                en                     Deep Hearts
45453                hi                             Maa
45453                hi                             Maa
45453                hi                             Maa
45454                en               The Morning After
45454                en               The Morning After
45455                it      San Michele aveva un gallo
45456                en                House of Horrors
45456                en                House of Horrors
45456                en                House of Horrors
45457                en       Shadow of the Blair Witch
45457                en       Shadow of the Blair Witch
45458                en             The Burkittsville 7
45459                en                 Caged Heat 3000
45460                en                      Robin Hood
45460                en                      Robin Hood
45460                en                      Robin Hood
45461                fa                         ÿ±⁄Ø ÿÆŸàÿßÿ®
45461                fa                         ÿ±⁄Ø ÿÆŸàÿßÿ®
45462                tl             Siglo ng Pagluluwal
45463                en                        Betrayal
45463                en                        Betrayal
45463                en                        Betrayal
45464                en             Satana likuyushchiy
45465                en                        Queerama

                                                overview popularity  \
0      Led by Woody, Andy's toys live happily in his ...    21.9469
0      Led by Woody, Andy's toys live happily in his ...    21.9469
0      Led by Woody, Andy's toys live happily in his ...    21.9469
1      When siblings Judy and Peter discover an encha...    17.0155
1      When siblings Judy and Peter discover an encha...    17.0155
1      When siblings Judy and Peter discover an encha...    17.0155
2      A family wedding reignites the ancient feud be...    11.7129
2      A family wedding reignites the ancient feud be...    11.7129
3      Cheated on, mistreated and stepped on, the wom...    3.85949
3      Cheated on, mistreated and stepped on, the wom...    3.85949
3      Cheated on, mistreated and stepped on, the wom...    3.85949
4      Just when George Banks has recovered from his ...    8.38752
5      Obsessive master thief, Neil McCauley leads a ...    17.9249
5      Obsessive master thief, Neil McCauley leads a ...    17.9249
5      Obsessive master thief, Neil McCauley leads a ...    17.9249
5      Obsessive master thief, Neil McCauley leads a ...    17.9249
6      An ugly duckling having undergone a remarkable...    6.67728
6      An ugly duckling having undergone a remarkable...    6.67728
7      A mischievous young boy, Tom Sawyer, witnesses...    2.56116
7      A mischievous young boy, Tom Sawyer, witnesses...    2.56116
7      A mischievous young boy, Tom Sawyer, witnesses...    2.56116
7      A mischievous young boy, Tom Sawyer, witnesses...    2.56116
8      International action superstar Jean Claude Van...    5.23158
8      International action superstar Jean Claude Van...    5.23158
8      International action superstar Jean Claude Van...    5.23158
9      James Bond must unmask the mysterious head of ...     14.686
9      James Bond must unmask the mysterious head of ...     14.686
9      James Bond must unmask the mysterious head of ...     14.686
10     Widowed U.S. president Andrew Shepherd, one of...    6.31844
10     Widowed U.S. president Andrew Shepherd, one of...    6.31844
...                                                  ...        ...
45450  A band-leader has arranged seven chairs for th...   1.109068
45450  A band-leader has arranged seven chairs for th...   1.109068
45450  A band-leader has arranged seven chairs for th...   1.109068
45451         A series of fantastical wrestling matches.   0.225432
45451         A series of fantastical wrestling matches.   0.225432
45452  Deep Hearts is a film about the Bororo Fulani,...   0.011025
45453  The bliss of a biology teacher‚Äôs family life i...   1.559596
45453  The bliss of a biology teacher‚Äôs family life i...   1.559596
45453  The bliss of a biology teacher‚Äôs family life i...   1.559596
45454  The Morning After is a feature film that consi...   0.139936
45454  The Morning After is a feature film that consi...   0.139936
45455  Sentenced to life imprisonment for illegal act...   0.225051
45456  An unsuccessful sculptor saves a madman named ...   0.222814
45456  An unsuccessful sculptor saves a madman named ...   0.222814
45456  An unsuccessful sculptor saves a madman named ...   0.222814
45457  In this true-crime documentary, we delve into ...   0.076061
45457  In this true-crime documentary, we delve into ...   0.076061
45458  A film archivist revisits the story of Rustin ...    0.38645
45459  It's the year 3000 AD. The world's most danger...   0.661558
45460  Yet another version of the classic epic, with ...   5.683753
45460  Yet another version of the classic epic, with ...   5.683753
45460  Yet another version of the classic epic, with ...   5.683753
45461        Rising and falling between a man and woman.   0.072051
45461        Rising and falling between a man and woman.   0.072051
45462  An artist struggles to finish his work while a...   0.178241
45463  When one of her hits goes wrong, a professiona...   0.903007
45463  When one of her hits goes wrong, a professiona...   0.903007
45463  When one of her hits goes wrong, a professiona...   0.903007
45464  In a small town live two brothers, one a minis...   0.003503
45465  50 years after decriminalisation of homosexual...   0.163015

            ...        runtime  \
0           ...           81.0
0           ...           81.0
0           ...           81.0
1           ...          104.0

In [49]:
def build_chart(genre, percentile=0.85):
    df = gen_md[gen_md['genre'] == genre]
    vote_counts = df[df['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = df[df['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(percentile)
    
    qualified = df[(df['vote_count'] >= m) & (df['vote_count'].notnull()) & (df['vote_average'].notnull())][['title', 'year', 'vote_count', 'vote_average', 'popularity']]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    
    qualified['wr'] = qualified.apply(lambda x: (x['vote_count']/(x['vote_count']+m) * x['vote_average']) + (m/(m+x['vote_count']) * C), axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(250)
    
    return qualified

In [50]:
build_chart('Romance').head(15)

,title,year,vote_count,vote_average,popularity,wr
10309,Dilwale Dulhania Le Jayenge,1995,661,9,34.457,8.565285
351,Forrest Gump,1994,8147,8,48.3072,7.971357
876,Vertigo,1958,1162,8,18.2082,7.811667
40251,Your Name.,2016,1030,8,34.461252,7.789489
883,Some Like It Hot,1959,835,8,11.8451,7.745154
1132,Cinema Paradiso,1988,834,8,14.177,7.744878
19901,Paperman,2012,734,8,7.19863,7.713951
37863,Sing Street,2016,669,8,10.672862,7.689483
882,The Apartment,1960,498,8,11.9943,7.599317
38718,The Handmaiden,2016,453,8,16.727405,7.566166
3189,City Lights,1931,444,8,10.8915,7.558867
24886,The Way He Looks,2014,262,8,5.71127,7.331363
45437,In a Heartbeat,2017,146,8,20.82178,7.003959
1639,Titanic,1997,7770,7,26.8891,6.981546
19731,Silver Linings Playbook,2012,4840,7,14.4881,6.970581

## Content Based Recommender

The recommender we built in the previous section suffers some severe limitations. For one, it gives the same recommendation to everyone, regardless of the user's personal taste. If a person who loves romantic movies (and hates action) were to look at our Top 15 Chart, s/he wouldn't probably like most of the movies. If s/he were to go one step further and look at our charts by genre, s/he wouldn't still be getting the best recommendations.

For instance, consider a person who loves *Dilwale Dulhania Le Jayenge*, *My Name is Khan* and *Kabhi Khushi Kabhi Gham*. One inference we can obtain is that the person loves the actor Shahrukh Khan and the director Karan Johar. Even if s/he were to access the romance chart, s/he wouldn't find these as the top recommendations.

To personalise our recommendations more, I am going to build an engine that computes similarity between movies based on certain metrics and suggests movies that are most similar to a particular movie that a user liked. Since we will be using movie metadata (or content) to build this engine, this also known as **Content Based Filtering.**

I will build two Content Based Recommenders based on:
* Movie Overviews and Taglines
* Movie Cast, Crew, Keywords and Genre

Also, as mentioned in the introduction, I will be using a subset of all the movies available to us due to limiting computing power available to me.

In [51]:
links_small = pd.read_csv('the-movies-dataset/links_small.csv')
links_small = links_small[links_small['tmdbId'].notnull()]['tmdbId'].astype('int')

In [ ]:
md = md.drop([19730, 29503, 35587])

In [54]:
md['id'] = md['id'].astype('int')

In [55]:
smd = md[md['id'].isin(links_small)]
smd.shape

(9099, 25)

### Movie Description Based Recommender

Let us first try to build a recommender using movie descriptions and taglines. We do not have a quantitative metric to judge our machine's performance so this will have to be done qualitatively.

In [56]:
smd['tagline'] = smd['tagline'].fillna('')
smd['description'] = smd['overview'] + smd['tagline']
smd['description'] = smd['description'].fillna('')

In [57]:
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(smd['description'])

In [58]:
tfidf_matrix.shape

(9099, 268124)

#### Cosine Similarity

I will be using the Cosine Similarity to calculate a numeric quantity that denotes the similarity between two movies. Mathematically, it is defined as follows:

$cosine(x,y) = \frac{x. y^\intercal}{||x||.||y||} $

Since we have used the TF-IDF Vectorizer, calculating the Dot Product will directly give us the Cosine Similarity Score. Therefore, we will use sklearn's **linear_kernel** instead of cosine_similarities since it is much faster.

In [59]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
cosine_sim[0]

array([1.        , 0.00680476, 0.        , ..., 0.        , 0.00344913,
       0.        ])

In [60]:
smd = smd.reset_index()
titles = smd['title']
indices = pd.Series(smd.index, index=smd['title'])

In [61]:
def get_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key = lambda x: x[1], reverse = True)
    sim_scores = sim_scores[1:31]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

In [62]:
get_recommendations('The Godfather').head(10)
get_recommendations('The Dark Knight').head(10)

7931                      The Dark Knight Rises
132                              Batman Forever
1113                             Batman Returns
8227    Batman: The Dark Knight Returns, Part 2
7565                 Batman: Under the Red Hood
524                                      Batman
7901                           Batman: Year One
2579               Batman: Mask of the Phantasm
2696                                        JFK
8165    Batman: The Dark Knight Returns, Part 1
Name: title, dtype: object

### Metadata Based Recommender

To build our standard metadata based content recommender, we will need to merge our current dataset with the crew and the keyword datasets. Let us prepare this data as our first step.

In [70]:
credits = pd.read_csv('the-movies-dataset/credits.csv')
keywords = pd.read_csv('the-movies-dataset/keywords.csv')
credits.info()
credits.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
cast    45476 non-null object
crew    45476 non-null object
id      45476 non-null int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
5,"[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de...",949
6,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...",11860
7,"[{'cast_id': 2, 'character': 'Tom Sawyer', 'cr...","[{'credit_id': '52fe46bdc3a36847f810f797', 'de...",45325
8,"[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...",9091
9,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...",710

In [66]:
keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')
md['id'] = md['id'].astype('int')

In [67]:
md.shape

(45463, 25)

In [68]:
md = md.merge(credits, on='id')
md = md.merge(keywords, on='id')

In [69]:
smd = md[md['id'].isin(links_small)]
smd.shape

(9219, 28)

We now have our cast, crew, genres and credits, all in one dataframe. Let us wrangle this a little more using the following intuitions:

1. **Crew:** From the crew, we will only pick the director as our feature since the others don't contribute that much to the *feel* of the movie.
2. **Cast:** Choosing Cast is a little more tricky. Lesser known actors and minor roles do not really affect people's opinion of a movie. Therefore, we must only select the major characters and their respective actors. Arbitrarily we will choose the top 3 actors that appear in the credits list.

In [71]:
smd['cast'] = smd['cast'].apply(literal_eval) # convert the meta data to dictionary
smd['crew'] = smd['crew'].apply(literal_eval)
smd['keywords'] = smd['keywords'].apply(literal_eval)
smd['cast_size'] = smd['cast'].apply(lambda x: len(x))
smd['crew_size'] = smd['crew'].apply(lambda x: len(x))

In [72]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
        return np.nan

In [74]:
smd['director'] = smd['crew'].apply(get_director)

In [75]:
smd['cast'] = smd['cast'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
smd['cast'] = smd['cast'].apply(lambda x: x[:3] if len(x) >=3 else x)

In [80]:
smd['keywords'] = smd['keywords'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

My approach to building the recommender is going to be extremely *hacky*. What I plan on doing is creating a metadata dump for every movie which consists of **genres, director, main actors and keywords.** I then use a **Count Vectorizer** to create our count matrix as we did in the Description Recommender. The remaining steps are similar to what we did earlier: we calculate the cosine similarities and return movies that are most similar.

These are steps I follow in the preparation of my genres and credits data:
1. **Strip Spaces and Convert to Lowercase** from all our features. This way, our engine will not confuse between **Johnny Depp** and **Johnny Galecki.** 
2. **Mention Director 3 times** to give it more weight relative to the entire cast.

In [76]:
smd['cast'] = smd['cast'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

In [77]:
smd['director'] = smd['director'].astype('str').apply(lambda x: str.lower(x.replace(" ", "")))
smd['director'] = smd['director'].apply(lambda x: [x,x, x])

#### Keywords

We will do a small amount of pre-processing of our keywords before putting them to any use. As a first step, we calculate the frequenct counts of every keyword that appears in the dataset.

In [82]:
s = smd.apply(lambda x: pd.Series(x['keywords']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'keyword'

In [83]:
s = s.value_counts()
s[:5]

independent film        610
woman director          550
murder                  399
duringcreditsstinger    327
based on novel          318
Name: keyword, dtype: int64

Keywords occur in frequencies ranging from 1 to 610. We do not have any use for keywords that occur only once. Therefore, these can be safely removed. Finally, we will convert every word to its stem so that words such as *Dogs* and *Dog* are considered the same.

In [84]:
s = s[s > 1]

In [85]:
stemmer = SnowballStemmer('english')
stemmer.stem('dogs')

'dog'

In [86]:
def filter_keywords(x):
    words = []
    for i in x:
        if i in s:
            words.append(i)
    return words

In [88]:
smd['keywords'] = smd['keywords'].apply(filter_keywords) # filter the keywords in the keywords dictionary
smd['keywords'] = smd['keywords'].apply(lambda x: [stemmer.stem(i) for i in x]) # put the stemmed words into single one
smd['keywords'] = smd['keywords'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x]) # make all lower case remove spaces

In [90]:
smd['soup'] = smd['keywords'] + smd['cast'] + smd['director'] + smd['genres']
smd['soup'] = smd['soup'].apply(lambda x: ' '.join(x))

In [91]:
count = CountVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
count_matrix = count.fit_transform(smd['soup'])

In [92]:
cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [93]:
smd = smd.reset_index()
titles = smd['title']
indices = pd.Series(smd.index, index=smd['title'])

We will reuse the get_recommendations function that we had written earlier. Since our cosine similarity scores have changed, we expect it to give us different (and probably better) results. Let us check for **The Dark Knight** again and see what recommendations I get this time around.

In [94]:
get_recommendations('The Dark Knight').head(10)

5943                           Thursday
6349                Menolippu Mombasaan
5098                       The Enforcer
6551                              Chaos
217                    The Glass Shield
2272                        In Too Deep
5904                     State of Grace
7362    Gangster's Paradise: Jerusalema
7380                            Bronson
8031              The Dark Knight Rises
Name: title, dtype: object

I am much more satisfied with the results I get this time around. The recommendations seem to have recognized other Christopher Nolan movies (due to the high weightage given to director) and put them as top recommendations. I enjoyed watching **The Dark Knight** as well as some of the other ones in the list including **Batman Begins**, **The Prestige** and **The Dark Knight Rises**. 

We can of course experiment on this engine by trying out different weights for our features (directors, actors, genres), limiting the number of keywords that can be used in the soup, weighing genres based on their frequency, only showing movies with the same languages, etc.

In [95]:
get_recommendations('Mean Girls').head(10)

7618             Ricky Gervais Live: Animals
7631              Ricky Gervais Live 3: Fame
7803         Carrie Fisher: Wishful Drinking
7864                   Louis C.K.: Shameless
8071                    Dylan Moran: Monster
8072           Dylan Moran: Like, Totally...
8073                 Dylan Moran: What It Is
8459                   Louis C.K.: Oh My God
8886    Louis C.K.: Live at The Comedy Store
8920         George Carlin: It's Bad for Ya!
Name: title, dtype: object

#### Popularity and Ratings

One thing that we notice about our recommendation system is that it recommends movies regardless of ratings and popularity. It is true that **Batman and Robin** has a lot of similar characters as compared to **The Dark Knight** but it was a terrible movie that shouldn't be recommended to anyone.

Therefore, we will add a mechanism to remove bad movies and return movies which are popular and have had a good critical response.

I will take the top 25 movies based on similarity scores and calculate the vote of the 60th percentile movie. Then, using this as the value of $m$, we will calculate the weighted rating of each movie using IMDB's formula like we did in the Simple Recommender section.

In [96]:
def improved_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
    
    movies = smd.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'year']]
    vote_counts = movies[movies['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = movies[movies['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(0.60)
    qualified = movies[(movies['vote_count'] >= m) & (movies['vote_count'].notnull()) & (movies['vote_average'].notnull())]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    qualified['wr'] = qualified.apply(weighted_rating, axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(10)
    return qualified

In [98]:
improved_recommendations('The Dark Knight')

                        title  vote_count  vote_average  year        wr
8031    The Dark Knight Rises        9263             7  2012  6.921448
6218            Batman Begins        7511             7  2005  6.904127
6878              Elite Squad         519             7  2007  6.200719
1532    The French Connection         435             7  1971  6.123458
7380                  Bronson         756             6  2008  5.724609
7561              Harry Brown         351             6  2009  5.582529
6551                    Chaos         278             6  2005  5.539726
4871  Sleeping with the Enemy         228             6  1991  5.504962
5655                Ladder 49         213             6  2004  5.493486
8026       Bullet to the Head         490             5  2013  5.115027

In [99]:
improved_recommendations('Mean Girls')

,title,vote_count,vote_average,year,wr
8459,Louis C.K.: Oh My God,66,7,2013,5.476570
677,The First Wives Club,172,6,1996,5.459216
8886,Louis C.K.: Live at The Comedy Store,58,7,2015,5.451799
8920,George Carlin: It's Bad for Ya!,33,8,2008,5.439583
7864,Louis C.K.: Shameless,43,7,2007,5.403113
8395,Bill Hicks: Revelations,21,8,1993,5.372055
6385,Richard Pryor: Live in Concert,33,7,1979,5.368919
436,Made in America,86,5,1993,5.204394
164,Nine Months,171,5,1995,5.175678
5152,Confessions of a Teenage Drama Queen,228,5,2004,5.160552

Unfortunately, **Batman and Robin** does not disappear from our recommendation list. This is probably due to the fact that it is rated a 4, which is only slightly below average on TMDB. It certainly doesn't deserve a 4 when amazing movies like **The Dark Knight Rises** has only a 7. However, there is nothing much we can do about this. Therefore, we will conclude our Content Based Recommender section here and come back to it when we build a hybrid engine.

## Collaborative Filtering

Our content based engine suffers from some severe limitations. It is only capable of suggesting movies which are *close* to a certain movie. That is, it is not capable of capturing tastes and providing recommendations across genres.

Also, the engine that we built is not really personal in that it doesn't capture the personal tastes and biases of a user. Anyone querying our engine for recommendations based on a movie will receive the same recommendations for that movie, regardless of who s/he is.

Therefore, in this section, we will use a technique called **Collaborative Filtering** to make recommendations to Movie Watchers. Collaborative Filtering is based on the idea that users similar to a me can be used to predict how much I will like a particular product or service those users have used/experienced but I have not.

I will not be implementing Collaborative Filtering from scratch. Instead, I will use the **Surprise** library that used extremely powerful algorithms like **Singular Value Decomposition (SVD)** to minimise RMSE (Root Mean Square Error) and give great recommendations.

In [100]:
reader = Reader()

In [101]:
ratings = pd.read_csv('the-movies-dataset/ratings_small.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [102]:
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
data.split(n_folds=5)

In [107]:
svd = SVD()
evaluate(svd, data, measures=['RMSE', 'MAE'])

Evaluating RMSE, MAE of algorithm SVD.

------------
Fold 1
RMSE: 0.9045
MAE:  0.6941
------------
Fold 2
RMSE: 0.8835
MAE:  0.6806
------------
Fold 3
RMSE: 0.8924
MAE:  0.6878
------------
Fold 4
RMSE: 0.9037
MAE:  0.6952
------------
Fold 5
RMSE: 0.8994
MAE:  0.6933
------------
------------
Mean RMSE: 0.8967
Mean MAE : 0.6902
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'rmse': [0.9044966512588567,
                             0.8834580781135429,
                             0.8923967002225577,
                             0.9036825962059646,
                             0.8994240185650285],
                            'mae': [0.6941008098728729,
                             0.6806373277886448,
                             0.6878217145783811,
                             0.6952033822609799,
                             0.6932864512483012]})

In [108]:
trainset = data.build_full_trainset()
svd.train(trainset)

In [109]:
ratings[ratings['userId'] == 1]

    userId  movieId  rating   timestamp
0        1       31     2.5  1260759144
1        1     1029     3.0  1260759179
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
4        1     1172     4.0  1260759205
5        1     1263     2.0  1260759151
6        1     1287     2.0  1260759187
7        1     1293     2.0  1260759148
8        1     1339     3.5  1260759125
9        1     1343     2.0  1260759131
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203
12       1     1953     4.0  1260759191
13       1     2105     4.0  1260759139
14       1     2150     3.0  1260759194
15       1     2193     2.0  1260759198
16       1     2294     2.0  1260759108
17       1     2455     2.5  1260759113
18       1     2968     1.0  1260759200
19       1     3671     3.0  1260759117

In [110]:
svd.predict(1, 1287, 3)

Prediction(uid=1, iid=1287, r_ui=3, est=2.8783762679411424, details={'was_impossible': False})

## Hybrid Recommender

![](https://www.toonpool.com/user/250/files/hybrid_20095.jpg)

In this section, I will try to build a simple hybrid recommender that brings together techniques we have implemented in the content based and collaborative filter based engines. This is how it will work:

* **Input:** User ID and the Title of a Movie
* **Output:** Similar movies sorted on the basis of expected ratings by that particular user.

In [113]:
def convert_int(x):
    try:
        return int(x)
    except:
        return np.nan

In [115]:
id_map = pd.read_csv('the-movies-dataset/links_small.csv')[['movieId', 'tmdbId']]
id_map['tmdbId'] = id_map['tmdbId'].apply(convert_int)
id_map.columns = ['movieId', 'id']
id_map = id_map.merge(smd[['title', 'id']], on='id').set_index('title')
#id_map = id_map.set_index('tmdbId')

In [116]:
indices_map = id_map.set_index('id')

In [117]:
def hybrid(userId, title):
    idx = indices[title]
    tmdbId = id_map.loc[title]['id']
    #print(idx)
    movie_id = id_map.loc[title]['movieId']
    
    sim_scores = list(enumerate(cosine_sim[int(idx)]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
    
    movies = smd.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'year', 'id']]
    movies['est'] = movies['id'].apply(lambda x: svd.predict(userId, indices_map.loc[x]['movieId']).est)
    movies = movies.sort_values('est', ascending=False)
    return movies.head(10)

In [118]:
hybrid(1, 'Avatar')

,title,vote_count,vote_average,year,id,est
8401,Star Trek Into Darkness,4479.0,7.4,2013,54138,2.901350
8658,X-Men: Days of Future Past,6155.0,7.5,2014,127585,2.774018
7705,Alice in Wonderland,8.0,5.4,1933,25694,2.769660
6576,The Covenant,295.0,5.2,2006,9954,2.748172
8516,Ender's Game,2354.0,6.6,2013,80274,2.632479
9006,Star Trek Beyond,2636.0,6.6,2016,188927,2.619965
8636,The Amazing Spider-Man 2,4274.0,6.5,2014,102382,2.600067
2131,Superman,1042.0,6.9,1978,1924,2.599173
4966,Hercules in New York,63.0,3.7,1969,5227,2.588544
2132,Superman II,642.0,6.5,1980,8536,2.570836

In [119]:
hybrid(500, 'Avatar')

,title,vote_count,vote_average,year,id,est
8724,Jupiter Ascending,2816.0,5.2,2015,76757,3.191795
6084,Beastmaster 2: Through the Portal of Time,17.0,4.6,1991,27549,3.183347
8995,The Hunger Games: Mockingjay - Part 2,4117.0,6.6,2015,131634,3.126167
8401,Star Trek Into Darkness,4479.0,7.4,2013,54138,3.034650
8658,X-Men: Days of Future Past,6155.0,7.5,2014,127585,3.034011
8636,The Amazing Spider-Man 2,4274.0,6.5,2014,102382,3.005085
6576,The Covenant,295.0,5.2,2006,9954,2.964192
7705,Alice in Wonderland,8.0,5.4,1933,25694,2.939059
8516,Ender's Game,2354.0,6.6,2013,80274,2.870208
2132,Superman II,642.0,6.5,1980,8536,2.818206

We see that for our hybrid recommender, we get different recommendations for different users although the movie is the same. Hence, our recommendations are more personalized and tailored towards particular users.

## Conclusion

In this notebook, I have built 4 different recommendation engines based on different ideas and algorithms. They are as follows:

1. **Simple Recommender:** This system used overall TMDB Vote Count and Vote Averages to build Top Movies Charts, in general and for a specific genre. The IMDB Weighted Rating System was used to calculate ratings on which the sorting was finally performed.
2. **Content Based Recommender:** We built two content based engines; one that took movie overview and taglines as input and the other which took metadata such as cast, crew, genre and keywords to come up with predictions. We also deviced a simple filter to give greater preference to movies with more votes and higher ratings.
3. **Collaborative Filtering:** We used the powerful Surprise Library to build a collaborative filter based on single value decomposition. The RMSE obtained was less than 1 and the engine gave estimated ratings for a given user and movie.
4. **Hybrid Engine:** We brought together ideas from content and collaborative filterting to build an engine that gave movie suggestions to a particular user based on the estimated ratings that it had internally calculated for that user.

Previous -> [The Story of Film](https://www.kaggle.com/rounakbanik/the-story-of-film/)